<template>
    <lightning-button variant="destructive" label="ACTIVATE" title="ACTIVATE" onclick={handleActivate} class="slds-m-left_x-small"></lightning-button>
    <lightning-card title="Order Products">
        <lightning-datatable
                key-field="id"
                data={products.data}
                columns={columns}
                hide-checkbox-column="false">
        </lightning-datatable>
    </lightning-card>
</template>