<template>
    <lightning-card title="Available Products">

        <lightning-input type="text" value={filterString} placeholder="product name" onchange={handleKeyChange} ></lightning-input>
        <lightning-datatable
                key-field="id"
                data={sortedProducts}
                columns={columns}
                hide-checkbox-column="false"
                onsort={updateColumnSorting}
                sorted-by={sortedBy}
                sorted-direction={sortedDirection}
                onrowaction={handleRowAction}
                >
        </lightning-datatable>

    </lightning-card>
    
</template>